<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" 
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />    
  </configSections>
  <connectionStrings>
    <add name="TestDbCnn"
       connectionString="Server=.\SQLExpress; Initial Catalog=TestDb; Integrated Security=true;" />
  </connectionStrings>
  <!--
  <appSettings>
    <add key="cnnTest" value=" Data Source=localhost\SQLEXPRESS; Initial Catalog=QuartzDb; Integrated Security=True; Pooling=False"/>    
  </appSettings>
  -->

  <!-- NHibernate configuration -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.Test">
      <property name="connection.connection_string_name">TestDbCnn</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="show_sql">true</property>      
      <!-- Create Database -->
      <property name="hbm2ddl.auto">update</property>
      <!--<property name="current_session_context_class">web</property>-->
      <!-- Mapping -->
      <mapping assembly="Zen.Test" />
    </session-factory>
  </hibernate-configuration>
  
</configuration>
